.Title {
font-family: sans-serif;
text-align: center;
font-size: 3rem;
font-weight: bold;
color: white;
height: 5rem;
background-color: #273544;
padding: rem;
margin: 0;
}

.center{
    text-align: center;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.search{
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(44, 63, 84, 1);
    height: 1.5rem;

}

.centerSearch{
    text-align: center;
    background-color: #2C3F54;
    padding: 2rem;
}   

.button{
    background-color: #2F8CD4;
    color: white;
    border-radius: 6px;
    border: none;
    height: 2rem;
}

body{
    margin: 0;
    padding: 0;
}

.picture{
    border-radius: 10px;
    text-align: center;
    align-items: center;
}

.pictureText{
    font-weight: bold;
    text-align: center;
    align-items: center;
}

.pictureDesc{
    font-weight: normal;
    text-align: center;
    align-items: center;
}

.box{
    width: 250px;
    margin: 1rem;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0.5)
}

.box img{
    width: 100%;
    border-radius: 5px;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}